{% extends "src/base.html" %}
{% load static staticfiles %}

{% block content %}
<section id="main-container" class="main-container justify-content-between align-items-center">
    <div class="mg-gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mx-auto">

                    <img src="{% static 'images/404.svg' %}" class="error-img">

                </div><!-- Col end -->

            </div><!-- Row End -->
        </div><!-- Container End -->
    </div><!-- Ts Gallery End -->
</section><!-- Main container end -->

{% endblock %}