{% extends "src/base.html" %}
{% load static staticfiles widget_tweaks %}


{% block content %}
    <div class="banner-area bg-overlay" id="banner-area"
         style="background-image:url({% static 'images/banner/contact_banner.jpg' %} );">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Service <span>Order</span></h1>
                        <ol class="breadcrumb">
                            <li>Home</li>
                            <li><a href="{% url 'service_order' %}">Service Order</a></li>
                        </ol>
                        <!-- Breadcumb End -->
                    </div>
                    <!-- Banner Heading end -->
                </div>
                <!-- Col end-->
            </div>
            <!-- Row end-->
        </div>
        <!-- Container end-->
    </div>
    <!-- Banner area end-->

    <section id="main-container" class="main-container ts-contact-us">
        <div class="container">
            <!-- row end -->
            <div class="gap-75"></div>
            <div class="row">

                <div class="col-lg-8">
                    <h2 class="section-title">
                        <span>Service</span> Order
                    </h2>
                    <div id="contact-form" class="form-container contact-us">
                        <!-- START copy section: Hotel Contact Form -->
                        <form class="contact" action="#" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <section>
                                {% for field in form.visible_fields %}
                                    <div class="form-row">
                                        <div class="col-lg-12">
                                            {{ field.label_tag }}
                                            {% render_field field class="field" %}
                                            {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}

                                <!-- Google reCAPTCHA -->
                                <!-- Create a site key for your website: https://www.google.com/recaptcha -->
                                <!-- Replace YOUR_SITE_KEY_HERE with your site key -->
                                <!-- To enable Google reCAPTCHA V2, uncomment the next line -->
                                <!-- <div class="re-captcha" data-sitekey="YOUR_SITE_KEY_HERE"></div> -->
                                <!-- To enable Google Invisible reCAPTCHA, uncomment the next line -->
                                <!-- <div class="re-captcha invisible" data-sitekey="YOUR_SITE_KEY_HERE"></div> -->

                                <div class="msg"></div>

                                <button class="btn btn-primary" type="submit" data-sending="Sending...">Order
                                </button>
                            </section>
                            <!-- Ection end -->
                        </form>
                        <!-- END copy section:Service Contact Form -->
                    </div>
                    <!-- Contact form end -->
                </div>
            </div>

        </div>
        <!-- Container end -->
    </section>
    <!-- Main container end -->
{% endblock %}